@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap');


body
{
    font-family: 'Ubuntu', sans-serif;
    color: var(--primary-text-color);
}
h1, h2
{
    width: 100%;
}
main
{
    margin: 0 auto;
    max-width: 630px;
    height: 97vh;
}
.container
{
    display: flex;
    background-color: antiquewhite;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: left;
}
.item
{
    background-color: var(--container-box-bg-color);
    align-content: center;
    border-radius: 23px;
    padding: 10px;
    
}

.half-block-container
{
    display: flex;
    min-width: 150px;
    flex: 1 1 275px;
}
.snap-button
{
    border-radius: 100px;
    box-shadow: 5px;
    shad
}
.break
{
    flex-basis: 100%;
    height: 0;
}
.card-container
{
    display: flex;
    gap: 10px;
    min-width: 80px;
    overflow-x: auto;
    width: 300px;
    flex-grow: 1;
    max-width: 600px;
}
.card
{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    min-width: 140px;
    border-radius: 15px;
}
.card-img-top
{
    border-radius: 15px 15px 0px 0px;
}
.card-body
{
    padding: 0px 10px 10px 10px;
}
.card-body-text
{
margin: 10px 0px;
}
.card-body-button
{
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;

}