@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap');


body
{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
p, a, div, h1, h2, h3, h4, h5
{
    color: var(--primary-text-color);
}
h1, h2
{
    width: 100%;
}
h4
{
    margin: 0;
    font-size: smaller;
    text-transform: uppercase;
    font-weight: 300;
}
p
{
    margin: 0;
}
#saldo
{
    font-size:x-large !important;
    font-weight: 500;
}
#receitas, #despesas
{
    font-weight: 400;
}
a
{
    text-decoration: none;
}
main
{
    margin: 0 auto;
    max-width: 630px;
    min-height: 97vh;
}
main
{
    display: flex;
    background-color: antiquewhite;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: left;
}
.container
{
    background-color: var(--container-box-bg-color);
    align-content: center;
    border-radius: 23px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 630px;
}

.half-container
{
    min-width: 150px;
    flex: 1 1 275px;
}
.container-item
{
    display: flex;
    flex-direction: column;
    flex: 1 1 110px;
    align-items: center;
    flex-wrap: wrap;
}
.snap-button-container
{
    background-color:antiquewhite;
    gap: 10px;
}
.snap-button
{
    border-radius: 100px;
    width: 70px;
    height: 70px;
    text-align: center;
    vertical-align:middle;
    background-color: var(--container-box-bg-color);
    box-shadow: 3px 3px 3px gray;
}
.break
{
    flex-basis: 100%;
    height: 0;
}
.card-container
{
    flex-wrap: nowrap;
    align-items: left;
    display: flex;
    gap: 10px;
    min-width: 80px;
    overflow-x: auto;
    width: 300px;
    flex-grow: 1;
    max-width: 600px;
}
.card
{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    min-width: 140px;
    border-radius: 15px;
    align-self: stretch;
}
.card-img-top
{
    border-radius: 15px 15px 0px 0px;
}
.card-body
{
    padding: 0px 10px 10px 10px;
}
.card-body-text
{
    margin: 10px 0px;
}
.card-body-button
{
    background-color: rgb(182, 128, 173);
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;

}
.svg-icon
{
    width: 1.8em;
    height: 1.8em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect
{
    fill: var(--primary-color);
}
.svg-icon circle
{
    fill:aliceblue;
}
#donutchart
{
    width: 100%;
}
footer
{
    padding: 15px;
    font-size: small;
    color: antiquewhite;
    background-color: var(--primary-text-color);
    text-align: center;
}
.github-icon
{
    fill:antiquewhite;
}
.github-anchor
{
    color: antiquewhite;
    text-decoration:underline;
}